{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {% for catalog in catalogs %}
            <div class="col-lg-4 col-md-4 thumbnail">
                <a href="#"><h3>{{ catalog.name }}</h3></a>
                <a href="{{ path('catalog', {'id' : catalog.id}) }}">{{ catalog.description | slice (0, 150)}}</a>
                    <div class="col-lg-10 col-md-offset-1 panel panel-default">
                        <div class="panel-body">
                            Recent items in this collection
                        </div>
                        <div class="list-group">
                        {%  for items in catalogs %}
                            <a href="#" class="list-group-item">{{ items }}</a>
                        {% endfor %}
                        </div>
                        <a href="{{ path('catalog', {'id' : catalog.id}) }}" class="btn btn-success">
                                View more
                        </a>
                    </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}